## Ignore all
*
**

## Allow folders
!/automations**
!/entities**
!/esphome**
!/integrations**
!/lovelace**
!/ios_notifications**

## Allow files
!/automations.yaml
!/configuration.yaml
!/customize.yaml
!/light_profiles.csv
!/scenes.yaml
!/scripts.yaml
!/ui-lovelace.yaml
!/.HA_VERSION
!/.gitignore
!/README.md
!/LICENSE

## Failsafe
secrets.yaml