## Ignore all
*
**

## Allow folders
!/entities**
!/esphome**
!/integrations**

## Allow files
!/automations.yaml
!/configuration.yaml
!/customize.yaml
!/light_profiles.csv
!/scenes.yaml
!/scripts.yaml
!/.gitignore
!/README.md
!/LICENSE

## Failsafe
secrets.yaml