## Ignore all
*
**

## Allow folders
!/automations**
!/blueprints**
!/entities**
!/esphome**
!/integrations**
!/lovelace**
!/scenes**
!/scripts**

## Allow files
!/automations.yaml
!/configuration.yaml
!/customize.yaml
!/light_profiles.csv
!/scenes.yaml
!/scripts.yaml
!/ui-lovelace*.yaml
!/.gitignore
!/README.md
!/LICENSE

## Failsafe
secrets.yaml