---
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    password: !secret wifi_password
  manual_ip:
    static_ip: ${static_ip}
    gateway: !secret gateway
    subnet: !secret subnet
    dns1: !secret dns1
  domain: .local
  use_address: ${devicename}.local
# captive_portal:

web_server:
  port: 80
  auth:
    username: !secret username
    password: !secret password

ota:
  password: !secret password

api:
  # password: !secret password
  reboot_timeout:
    minutes: 10
  encryption:
    key: !secret encryption_key

logger:
  level: DEBUG
